
<table class="table voucher-tbl" style="background-color: #fafafa">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <tr>
        <td rowspan="2" colspan="1" style="width:8%;"><img src="/images/mizuho-logo.png" alt="logo" id="td-logo" /></td>
        <td colspan="6" style="font-family: HelveticaNeueBold">MIZUHO BANK LTD. * MANILA BRANCH</td>
    </tr>
    <tr>
        <td colspan="6" style="font-family: HelveticaNeueLight">25th Floor The Zuellig Building, Makati Avenue corner Pasei de Roxas, Makati City 1225</td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="1"></td>
        <td colspan="6">Tel No: 8860-3500</td>
    </tr>
    <tr>
        <td colspan="1"></td>
        <td colspan="6">TIN: 004-669-467-000 NON-VAT</td>
    </tr>
    <tr>
        <td colspan="1">Date</td>
        <td colspan="1"><input class="input" /></td>
        <td colspan="3"></td>
        <td colspan="1">Direct Deposit Voucher</td>
        <td colspan="1"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="1">Vendor</td>
        <td colspan="6"><input class="input" style="width: 100%;" /></td>
    </tr>
    <tr>
        <td colspan="1">Payment Amount in Figures</td>
        <td colspan="2"><input class="input" /></td>
        <td colspan="2"></td>
        <td colspan="2"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="1">Payment Amount in Words</td>
        <td colspan="2"><input class="input" /></td>
        <td colspan="2"></td>
        <td colspan="2"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="7">Payment For:</td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted">Particulars</td>
        <td class="border-dotted">Number</td>
        <td class="border-dotted" colspan="2">Period Covered</td>
        <td class="border-dotted">Details</td>
        <td class="border-dotted">Amount</td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted" colspan="2"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted" colspan="2"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
    </tr>
    <tr>
        <td></td>
        <td class="border-solid">Total</td>
        <td class="border-solid"></td>
        <td class="border-solid" colspan="2"></td>
        <td class="border-solid"></td>
        <td class="border-solid"></td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="5" class="border-solid">Particulars</td>
        <td colspan="2" class="border-solid">Tax Information</td>
    </tr>
    <tr>
        <td colspan="3" style="border-left: 1px solid #777 !important; border-bottom: 1px solid #777 !important;"></td>
        <td colspan="1" style="border-bottom: 1px solid #777 !important;"> </td>
        <td colspan="1" style="border-bottom: 1px solid #777 !important;"> </td>
        <td colspan="2" class="border-solid"> </td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td>Prepared By:</td>
        <td><input class="input" /></td>
        <td>Verified By:</td>
        <td><input class="input" /></td>
        <td><input class="input" /></td>
        <td>Approved By:</td>
        <td><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="2">Payment Recieved By:</td>
        <td colspan="1"></td>
        <td colspan="2"><input class="input" /></td>
        <td colspan="1">Date:</td>
        <td colspan="1"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="1"></td>
        <td colspan="2" style="text-align:center">Name and Signature</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
    </tr>
    <tr>
        <td colspan="7"><hr class="dotted" /></td>
    </tr>
    <tr>
        <td rowspan="2" colspan="1" style="width:8%;"><img src="/images/mizuho-logo.png" alt="logo" id="td-logo" /></td>
        <td colspan="6" style="font-family: HelveticaNeueBold"></td>
    </tr>
    <tr>
        <td colspan="6" style="font-family: HelveticaNeueLight; text-align: center">PAYMENT DETAILS</td>
    </tr>
    <tr>
        <td colspan="1">Date</td>
        <td colspan="1"><input class="input" /></td>
        <td colspan="3"></td>
        <td colspan="1">Direct Deposit Voucher</td>
        <td colspan="1"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="1">Vendor</td>
        <td colspan="6"><input class="input" style="width: 100%;" /></td>
    </tr>
    <tr>
        <td colspan="1">Payment Amount</td>
        <td colspan="2"><input class="input" /></td>
        <td colspan="1"></td>
        <td colspan="1">Taxes Withheld</td>
        <td colspan="2"><input class="input" /></td>
    </tr>
    <tr>
        <td colspan="7">Payment For:</td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted">Particulars</td>
        <td class="border-dotted">Number</td>
        <td class="border-dotted" colspan="2">Period Covered</td>
        <td class="border-dotted">Details</td>
        <td class="border-dotted">Amount</td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted" colspan="2"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
    </tr>
    <tr>
        <td></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted" colspan="2"></td>
        <td class="border-dotted"></td>
        <td class="border-dotted"></td>
    </tr>
    <tr>
        <td></td>
        <td class="border-solid">Total</td>
        <td class="border-solid"></td>
        <td class="border-solid" colspan="2"></td>
        <td class="border-solid"></td>
        <td class="border-solid"></td>
    </tr>
</table>