
@{
    ViewData["Title"] = "DMPartial_Payee";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <table class="table table-striped tab-tbl">
        <thead>
            <tr>
                <th><a asp-action="DM" asp-route-sortOrder="@ViewData["PayeeSortParm"]">Payee<p class="btn-xs glyphicon @ViewData["glyph-payee"]"></p></a></th>
                <th><a asp-action="DM" asp-route-sortOrder="@ViewData["TINSortParm"]">TIN<p class="btn-xs glyphicon @ViewData["glyph-tin"]"></p></a></th>
                <th>Address</th>
                <th>Type</th>
                <th>Number</th>
                <th>Input By</th>
                <th>Approver</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="float-r m-r-10">
        <div class="dis-inline-block tbl-btn btn">Delete</div>
        <div class="dis-inline-block tbl-btn btn">Save</div>
    </div>
</div>