
@{
    ViewData["Title"] = "HomeTabsPartial";
}
<div id="entry-tabs" class="m-l-5 m-r-5" onload="init()">
    <ul class="m-t-0" id="entity-tabs">
        <li class="active ent-tabs" id="notif">@Html.ActionLink("Notification/s", "Index", "Home")</li>
        <li class="ent-tabs" id="ddv">@Html.ActionLink("Pending Application/s", "Pending", "Home")</li>
        <li class="ent-tabs" id="pcv">@Html.ActionLink("Application History", "History", "Home")</li>
    </ul>
</div>
