
@{
    ViewData["Title"] = "HomeTabsPartial";
}
<div id="entry-tabs" class="m-l-5 m-r-5" onload="init()">
    <ul class="m-t-0" id="entity-tabs">
        <li class="active ent-tabs" id="notif">@Html.ActionLink("Notification/s", "Index", "Home")</li>
        <li class="ent-tabs" id="ddv">@Html.ActionLink("Pending Application/s", "Pending", "Home")</li>
        <li class="ent-tabs" id="pcv">@Html.ActionLink("Expense Application History", "History", "Home")</li>
        @*@if (HttpContextAccessor.HttpContext.Session.GetString("accessType") == GlobalSystemValues.ROLE_APPROVER)
        {
            <li class="ent-tabs" id="transFailed">@Html.ActionLink("G-Base Transaction Failure/s", "Index", "TransFailed")</li>
        }*@
    </ul>
</div>
