
@{
    ViewData["Title"] = "DMAddFBT_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewFBTListViewModel

<div id="table" class="table-editable">
    @using (Html.BeginForm("AddFBT_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>FBT Name</th>
                <th>Account</th>
                <th>Formula</th>
                <th>Tax Rate</th>
                <th></th>
            </tr>
            <tr id="NewFBT-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewFBTVM[0].FBT_Name, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewFBTVM[0].FBT_Account, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewFBTVM[0].FBT_Formula, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewFBTVM[0].FBT_Tax_Rate, new { @class = "w-full" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
