
@{
    ViewData["Title"] = "DMAddNCC_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewNCCViewModel

<div id="table">
    @using (Html.BeginForm("AddNCC_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm", enctype = "multipart/form-data" }))
    {
    <table class="table table-bordered editable-th">
        <tr>
            <th>Category</th>
            <th>Pro-Forma Entry</th>
            <th></th>
        </tr>
        <tr id="NewNCC-Tr-0">
            <td>@Html.TextBoxFor(m => m.NCC_Name, new { @class = "w-full" })</td>
            <td><input type="file" asp-for="NCC_Pro_Forma"></td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
        </tr>
    </table>
    }
</div>
