
@{
    ViewData["Title"] = "DMAddVendor_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model NewVendorListViewModel

<div id="table" class="table-editable">
    @using (Html.BeginForm("AddVendor_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Vendor</th>
                <th>TIN</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
            <tr id="NewVendor-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_Name, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_TIN, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_Address, new { @class = "w-full" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
