
@{
    ViewData["Title"] = "BudgetAdjustmentModal";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form action="/Home/BudgetAdjustment" class="validate-form" id="tsForm" method="post">
    <table class="table">
        <tbody>
            <tr>
                <td class="lbl"><label for="BudgetAdjustment_Account">Account</label></td>
                <td class="inp">
                    <select id="BudgetAdjustment_Account" name="BudgetAdjustment.Account">
                        <option value="">Sample Account No. 1</option>
                        <option value="">Sample Account No. 2</option>
                        <option value="">Sample Account No. 3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="lbl"><label for="BudgetAdjustment_Curr_Budget">Current Budget</label></td>
                <td class="inp">
                    <input class="text-box single-line input" data-val="true"
                           data-val-required="The Current Budget field is required."
                           id="BudgetAdjustment_Curr_Budget" name="BudgetAdjustment.Curr_Budget" type="text" value="">
                </td>
            </tr>
            <tr>
                <td class="lbl"><label for="BudgetAdjustment_New_Budget">New Budget</label></td>
                <td class="inp">
                    <input class="text-box single-line input" data-val="true"
                           data-val-required="The New Budget field is required."
                           id="BudgetAdjustment_New_Budget" name="BudgetAdjustment.New_Budget" type="text" value="">
                </td>
            </tr>
        </tbody>
    </table>
</form>

