
@{
    ViewData["Title"] = "DMEditNCC_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model DMNCC2ViewModel
<div id="table" class="table-editable">
    @using (Html.BeginForm("EditNCC_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm", enctype = "multipart/form-data" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Category Name</th>
                <th>NCC Pro-Forma Entries</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                    <tr>
                        <td contenteditable="true">@Html.TextBoxFor(item => item.NCC_Name, new { @class = "w-full" })</td>
                        <td contenteditable="true">@Html.TextBoxFor(item => item.NCC_Pro_Forma_Name, new { @class = "w-full" })
                                                    <input type="file" asp-for="NCC_Pro_Forma"></td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item.NCC_Status, new { @class = "w-full" })</td>
                        @Html.HiddenFor(item => item.NCC_MasterID)
                    </tr>
            }
        </table>
    }
</div>
