@{
    ViewData["Title"] = "Login";
}
<environment include="Development">
    <link rel="icon" href="~/images/icons/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/login/util.css" />
    <link rel="stylesheet" href="~/css/login/main.css" />
</environment>
<div class="container-login">
    <div class="form-login">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "validate-form" }))
        {
            <div class="login-input m-t-20 m-b-15" data-validate="Enter Emp No">
                <input class="input100" data-val="true" data-val-required="The EmpNo field is required." id="EmpNo" name="EmpNo" type="text" value="">
                <span class="focus-input100" data-placeholder="Emp No"></span>
            </div>

            <div class="login-input m-b-40" data-validate="Enter Password">
                <input class="input100" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="text" value="">
                <span class="focus-input100" data-placeholder="Password"></span>
            </div>

            <div class="container-login-form-btn m-t-25">
                <button class="login-form-btn" type="submit">
                    Submit
                </button>
            </div>
        }
    </div>
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/animsition/js/animsition.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
</environment>
