@{
    ViewData["Title"] = "Login";
}
@using ExpenseProcessingSystem.ViewModels
@model LoginViewModel

<link rel="stylesheet" href="~/css/Login-Carousel.css" />
<div class='slider'>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png">
    <div class="login-header cont-login">
        <div class="dis-inline-block float-l"><a href="#" id="header-logo"><img src="~/images/mizuho-logo-5-1.png" alt="bnklogo"></a></div>
        <div class="dis-inline-block float-r"><a href="#" id="header-logo"><img src="~/images/mizuho-logo-5-2.png" alt="bnklogo"></a></div>
    </div>
    <div class='slide1'></div>
    <div class='slide2'></div>
    <div class='slide3'></div>

    <div class="container-login">
        <div class="cont-login">
            <div class="form-login">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "validate-form" }))
                {
                    <div class="login-input m-t-20 m-b-15" data-validate="Enter User Name">
                        @Html.TextBoxFor(model => model.User_UserName, new { @class = "input100" })
                        <span class="focus-input100 UN" data-placeholder="User Name"></span>
                    </div>

                    <div class="login-input m-t-25 m-b-40" data-validate="Enter Password">
                        @Html.PasswordFor(model => model.User_Password, new { @class = "input100" })
                        <span class="focus-input100 PW" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login-form-btn m-t-25">
                        <button class="login-form-btn" type="submit">
                            Submit
                        </button>
                    </div>
                }
                @*validation message*@
                <div id="ValidationSummary" style="display:none" class="">
                    @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
                </div>
            </div>
        </div>
        @Html.Partial("ModalPartial")
    </div>
</div>
