
@{
    ViewData["Title"] = "DM";
}
<div class="tab-content-cont m-t-10">
    <div id="tbl-lbl">
        <div class="dis-inline-block"><p>Data List Title:</p></div>
        <div class="dis-inline-block">
             <select>
                <option value="DMPartial_Payee">Payee</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
   </div>
    @Html.Partial("DMPartial_Payee")
</div>