<table class="table voucher-tbl" style="background-color: #fafafa">

    <colgroup span="2"></colgroup>
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />

    <thead>
        <tr>
            <th rowspan="1" colspan="2">Remarks</th>
            <th rowspan="2">Account</th>
            <th rowspan="2">INTER-RATE</th>
            <th rowspan="2">CCY</th>
            <th rowspan="2">Debit</th>
            <th rowspan="2"></th>
            <th rowspan="2">Credit</th>
        </tr>
        <tr>
            <th colspan="1">Description</th>
            <th colspan="1">Period</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<table class="table voucher-tbl m-t-20" style="background-color: #fafafa; border: 2px solid #ccc !important">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">
    <col style="width:14.3%">

    <tr>
        <td colspan="5"></td>
        <td colspan="1">Debit</td>
        <td colspan="1">Credit</td>
    </tr>
    <tr>
        <td colspan="1">Balance Checker</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1" class="border-solid">-</td>
        <td colspan="1" class="border-solid">-</td>
    </tr>
    <tr>
        <td colspan="1">Total</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="2" class="border-solid">-</td>
    </tr>
</table>