
@{
    ViewData["Title"] = "DMAddCust_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewCustListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddCust_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Customer Name</th>
                <th>Customer Abbreviation</th>
                <th>Customer Account No</th>
                <th></th>
            </tr>
            <tr id="NewCust-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewCustVM[0].Cust_Name, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewCustVM[0].Cust_Abbr, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewCustVM[0].Cust_No, new { @class = "w-full input voucher-input" })</td>
                <td>
                </td>
            </tr>
        </table>
    }
</div>
