
@{
    ViewData["Title"] = "DMAddCurr_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewCurrListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddCurr_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Currency Name</th>
                <th>CCY Abbr</th>
                <th></th>
            </tr>
            <tr id="NewCurr-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewCurrVM[0].Curr_Name, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewCurrVM[0].Curr_CCY_ABBR, new { @class = "w-full input voucher-input" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
