
@{
    ViewData["Title"] = "DMAddCheck_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewCheckListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddCheck_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Check Input Date</th>
                <th>Check Series From</th>
                <th>Check Series To</th>
                <th>Check Bank Information</th>
                <th></th>
            </tr>
            <tr id="NewCheck-Tr-0">
                <td>@Html.EditorFor(m => m.NewCheckVM[0].Check_Input_Date, new { htmlAttributes = new { @class = "h-20 form-control", @type = "date", @Value = DateTime.Today } })</td>
                <td>@Html.TextBoxFor(m => m.NewCheckVM[0].Check_Series_From, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewCheckVM[0].Check_Series_To, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewCheckVM[0].Check_Bank_Info, new { @class = "w-full" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
