
@{
    ViewData["Title"] = "DMAddVAT_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewVATListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddVAT_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>VAT Name</th>
                <th>VAT Tax Rate</th>
                <th>Status</th>
            </tr>
            <tr id="NewVAT-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewVATVM[0].VAT_Name, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewVATVM[0].VAT_Rate, new { @class = "w-full" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
