
@{
    ViewData["Title"] = "DMAddEWT_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewEWTListViewModel

<div id="table" class="table-editable">
    @using (Html.BeginForm("AddEWT_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>EWT Nature</th>
                <th>Tax Rate</th>
                <th>ATC</th>
                <th>Tax Rate Description</th>
                <th></th>
            </tr>
            <tr id="NewEWT-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewEWTVM[0].EWT_Nature, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewEWTVM[0].EWT_Tax_Rate, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewEWTVM[0].EWT_ATC, new { @class = "w-full" })</td>
                <td>@Html.TextBoxFor(m => m.NewEWTVM[0].EWT_Tax_Rate_Desc, new { @class = "w-full" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
