
@{
    ViewData["Title"] = "DMDeleteVAT_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model List<DMVATViewModel>

    <div id="table" class="">
        @using (Html.BeginForm("DeleteVAT_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
        {
            <table class="table table-bordered editable-th">
                <tr>
                    <th>VAT Name</th>
                    <th>VAT Tax Rate</th>
                    <th>Status</th>
                </tr>
                @if (Model != null)
                {
                @for (int i = 0; i < Model.Count(); i++)
                    {
                <tr>
                    <td>@Html.TextBoxFor(item => item[i].VAT_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(item => item[i].VAT_Rate, new { @class = "w-full", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(item => item[i].VAT_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                    @Html.HiddenFor(item => item[i].VAT_MasterID)
                </tr>
                    }
                }
            </table>
        }
    </div>
