
@{
    ViewData["Title"] = "DMRejDept";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model List<DMDeptViewModel>
<div id="table" class="table-editable">
    @using (Html.BeginForm("RejDept", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Department Name</th>
                <th>Department Code</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].Dept_Name, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].Dept_Code, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].Dept_Status, new { @class = "w-full" })</td>
                        @Html.HiddenFor(item => item[i].Dept_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>