@{Layout = "~/Views/Shared/_ModalLayout.cshtml";}
<div id="gBaseRemarks" class="flex-c">
    <div id="table">
        <input type="hidden" id="parentId" value="@ViewBag.parentID" />
        <div id="divPayee_SS" style="display:none;">
            Payee :
            <p class="dis-inline-block w-49">
                <input class="input" id="payee_SS" name="vendor" readonly="readonly" type="text" value="">
            </p>
        </div>
        <table class="table table-bordered editable-th" id="gBaseTable">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col style="width:5%;" />
            </colgroup>
            <thead>
                <tr>
                    <td>Document Type</td>
                    <td>Invoice No.</td>
                    <td>Descrption</td>
                    <td>Amount</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr id="gRemarks-tr-0">
                    <td><input type="text" class="gDocuType" /></td>
                    <td><input type="text" class="gInvoiceNo" /></td>
                    <td><input type="text" class="gDescription" /></td>
                    <td><input type="number" min="0" class="gAmount" style="width:100%" /></td>
                    <td><div class="flex-c"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.modal-dialog').css('width', 'auto');
        var idNum = $("#parentId").val().replace('remark_', '');
        var trs = $("#gBaseTable").find("tbody").find("tr");
        if ($("#item_" + idNum).find(".txtgbaseRemarks").prop('disabled') || 
            $("#item_" + idNum).find(".hiddenScreencode").val() == "Liquidation_SS") {
            for (var count = 0; count <= trs.length - 1; count++) {
                $("#gRemarks-tr-" + count).find(".gDocuType").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gInvoiceNo").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gDescription").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gAmount").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".flex-c").find(".table-remove").css("pointer-events", "none");
            }
            $("#add_row_btn").attr("disabled", "disabled");
            $("#saveGbase").attr("disabled", "disabled");
        }

        if ($('#EntryCV_' + idNum + '__screenCode').val() == "SS") {
            $('#payee_SS').val($("#item_" + idNum).find(".txtPayee option:selected").text());
            $('#divPayee_SS').show();
        }
    });
</script>