@{Layout = "~/Views/Shared/_ModalLayout.cshtml";}
<div id="gBaseRemarks" class="flex-c">
    <div id="table">
        <input type="hidden" id="parentId" value="@ViewBag.parentID" />
        <div id="divPayee_SS" style="display:none;">
            Payee :
            <p class="dis-inline-block w-49">
                <input class="input" id="payee_SS" name="payee_SS" readonly="readonly" type="text" value="">
            </p>
        </div>
        <table class="table table-bordered editable-th" id="gBaseTable">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col style="width:5%;" />
            </colgroup>
            <thead>
                <tr>
                    <th>Document Type</th>
                    <th>Invoice No.</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="gRemarks-tr-0">
                    <td><input type="text" class="gDocuType" /></td>
                    <td><input type="text" class="gInvoiceNo" /></td>
                    <td><input type="text" class="gDescription" /></td>
                    <td><input type="text" min="0" class="gAmount NumberOnlyOneDecimal" style="width:100%" /></td>
                    <td><div class="flex-c"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('.modal-dialog').css('width', '50%');
        var idNum = $("#parentId").val().replace('remark_', '');
        var trs = $("#gBaseTable").find("tbody").find("tr");
        if ($("#item_" + idNum).find(".txtgbaseRemarks").prop('disabled') || 
            $("#item_" + idNum).find(".hiddenScreencode").val() == "Liquidation_SS") {
            for (var count = 0; count <= trs.length - 1; count++) {
                $("#gRemarks-tr-" + count).find(".gDocuType").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gInvoiceNo").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gDescription").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gAmount").attr("readonly", "readonly");
                $("#gRemarks-tr-" + count).find(".gAmount").addClass("commaClass");
                $("#gRemarks-tr-" + count).find(".flex-c").find(".table-remove").css("pointer-events", "none");
            }
            $("#add_row_btn").css("display", "none");
            $("#saveGbase").css("display", "none");
            $(".commaClass").digits();
        }

        if ($('#EntryCV_' + idNum + '__screenCode').val() == "SS") {
            $('#payee_SS').val($("#item_" + idNum).find(".txtPayee option:selected").text());
            $('#divPayee_SS').show();
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("input.NumberOnlyOneDecimal").each(function () {
            if($('#entryID').val() != 0) {
                var pid = $(this.parentNode)[0].parentNode.id;
                var val = $('#' + pid).find('.NumberOnlyOneDecimal').val().replace("-", "");
                var idNum = $("#parentId").val().replace('remark_', '');
                if (($('#yenCurrID').val() + "") == ($("#item_" + idNum).find("[id$='_" + idNum + "__ccy']").val() + "")) {
                    $('#' + pid).find('.NumberOnlyOneDecimal').val(RDec(parseFloat(RC_GBR(val))));
                }
            }
            
        });
    });
    $("#gBaseTable").on("keyup", "input.NumberOnlyOneDecimal", function (e) {
        var pid = $(this.parentNode)[0].parentNode.id;
        var val = $('#' + pid).find('.NumberOnlyOneDecimal').val();
        if (isNaN(val)) {
            val = val.replace(/[^0-9\.]/g, '');
            if (val.split('.').length > 2) {
                val = val.replace(/\.+$/, "");
            }
        }
        $('#' + pid).find('.NumberOnlyOneDecimal').val(val);
    });
    $("#gBaseTable").on("change", "input.NumberOnlyOneDecimal", function (e) {
        var decVal = 2;

        var pid = $(this.parentNode)[0].parentNode.id;
        var val = $('#' + pid).find('.NumberOnlyOneDecimal').val().replace("-","");

        var idNum = $("#parentId").val().replace('remark_', '');

        if ($("#item_" + idNum).find(".txtccy").length == 1 && ($('#yenID').val() == $("#item_" + idNum).find(".txtccy").val())) {
            decVal = 0;
        }
        $('#' + pid).find('.NumberOnlyOneDecimal').val(roundNumber(val, decVal));
        //$('#' + pid).find('.NumberOnlyOneDecimal').val(round(val, decVal));

        if (isNaN($('#' + pid).find('.NumberOnlyOneDecimal').val())) {
            $('#' + pid).find('.NumberOnlyOneDecimal').val(0);
        }
    });
    function RC_GBR(nStr) {
        return nStr.replace(/\,/g, "");
    };
    function AC_GBR(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        return x1 + x2;
    };
</script>