<div id="amortizationBody">
    <div>Vendor/Employee : <p class="dis-inline-block w-49"><input type="text" class="input" /></p></div>
    <div>Account : <input type="text" class="input" /></div>
    <div class="flex-sb">
        <div class="dis-inline-block">1st Month : <input type="text" class="input" /></div>
        <div class="dis-inline-block">Day : <input type="text" class="input" /></div>
        <div class="dis-inline-block">Duration : <input type="text" class="input" /></div>
    </div>
</div>