
@{
    ViewData["Title"] = "ForgotPW";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model ForgotPWViewModel

<div id="table" class="">
    @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
    <table class="table">
        <tr>
            <td colspan="3">Kindly enter your Username or Password to the provided fields.</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Forgot_UserName)</td>
            <td colspan="2">@Html.TextBoxFor(m => m.Forgot_UserName, new { @class = "w-full input" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Forgot_Email)</td>
            <td colspan="2">@Html.TextBoxFor(m => m.Forgot_Email, new { @class = "w-full input" })</td>
        </tr>
    </table>
    }
</div>
