@model ExpenseProcessingSystem.Models.Gbase.tblRequest_DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>tblRequest_DetailsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RacfID" class="control-label"></label>
                <input asp-for="RacfID" class="form-control" />
                <span asp-validation-for="RacfID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacfPassword" class="control-label"></label>
                <input asp-for="RacfPassword" class="form-control" />
                <span asp-validation-for="RacfPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestCreated" class="control-label"></label>
                <input asp-for="RequestCreated" class="form-control" />
                <span asp-validation-for="RequestCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnMessage" class="control-label"></label>
                <input asp-for="ReturnMessage" class="form-control" />
                <span asp-validation-for="ReturnMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusDate" class="control-label"></label>
                <input asp-for="StatusDate" class="form-control" />
                <span asp-validation-for="StatusDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemAbbr" class="control-label"></label>
                <input asp-for="SystemAbbr" class="form-control" />
                <span asp-validation-for="SystemAbbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
