.rep-tab-cont {
    background-color: #fafafa;
    width: 100%;
}
/*.rep-voucher-cont {
}
    .rep-voucher-cont > .rep-voucher-tbl {
        /*background-color: red;
    }*/
    .rep-voucher-cont > .rep-voucher-tbl-left {
        width: 60%;
    }

.td-center{
    text-align:center;
}
.td-left{
    text-align:left;
}
.td-right {
    text-align: right;
}