.rep-tab-cont {
    background-color: #fafafa;
    width: 100%;
}
/*.rep-voucher-cont {
}
    .rep-voucher-cont > .rep-voucher-tbl {
        /*background-color: red;
    }*/
    .rep-voucher-cont > .rep-voucher-tbl-left {
        width: 60%;
    }

.td-center{
    text-align:center;
}
.td-left{
    text-align:left;
}
.td-right {
    text-align: right;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}
body.loading .modal {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}